@{
    ViewBag.Title = "Schedule List";
}
<a href="/Staff/Index"><< back</a>

@Html.Partial("SharedScheduleList")



<script type="text/html" id="action-template">
    <!-- in the template, $data is each element of the viewModel which contains "id" -->
    <a data-bind="attr: { href : '/Staff/EditSchedule?schedule_id=' + schedule_id, title: 'edit' }">edit</a>
    
</script>

<script type="text/html" id="action-template2">
    <!-- in the template, $data is each element of the viewModel which contains "id" -->

    <a data-bind="attr: { href : '/Staff/InsertSchedule', title: 'insert' }">Add new student</a>
</script>


