@{
    ViewBag.Title = "GetStudents";
}

<a href="/Staff/Index"><< back</a>

@Html.Partial("SharedStudentList")

<script type="text/html" id="action-template">
    <!-- in the template, $data is each element of the viewModel which contains "id" -->
    <a data-bind="attr: { href : '/Staff/EditStudent?student_id=' + student_id, title: 'edit' }">edit</a>
</script>

<script type="text/html" id="action-template2">
    <!-- in the template, $data is each element of the viewModel which contains "id" -->

    <a data-bind="attr: { href : '/Staff/InsertStudent', title: 'insert' }">Add new student</a>
</script>