@{
    ViewBag.Title = "Edit Enrollment";
    var student_id = ViewBag.student_id;
    var schedule_id = ViewBag.schedule_id;
}

<a href="/Admin/AllEnrollmentList"><< back</a>
@Html.Partial("SharedEditEnrollment")