@{
    ViewBag.Title = "Insert Department";
}
<h2>Insert Department</h2>
<div id="divSharedInsertDepartment">
    Department Id : <input type="text" data-bind="value: $data.department_id" /><br />
    <br />
    Department Name : <input type="text" data-bind="value: $data.department_name" /><br />
    <br />
    Department Description : <input type="text" data-bind="value: $data.department_description" /><br />
    <br />
    <input type="button" data-bind="value: 'Insert', click: $data.add" style="margin-left:80px" />
    <br /><br />
    <div id="divMessage"></div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var departmentViewModelObj = new DepartmentViewModel();
        departmentViewModelObj.Initialize();
    });

</script>
