@{
    ViewBag.Title = "Edit Cape";
    var cape_id = ViewBag.cape_id;
}

<h2>Edit Cape</h2>
<div id="divSharedEditCape">
    Schedule Id : <input type="text" data-bind="value: $data.schedule_id" /><br />
    <br />
    Rate : <input type="text" data-bind="value: $data.rate" /><br />
    <br />
    Description : <input type="text" data-bind="value: $data.cape_description" /><br />
    <br />
    Student Id: <input type="text" data-bind="value: $data.student_id" /><br />
    <br />
    <input type="button" data-bind="value: 'Update', click: $data.update" style="margin-left:80px" />
    <br /><br />
    <div id="divMessage"></div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var capeViewModelObj = new CapeViewModel();
        capeViewModelObj.Load(@cape_id);
    });

</script>
